<div id="<%= dom_id client %>" class="space-y-2">
  <div>
    <span class="font-medium text-gray-500">Name:</span>
    <span class="text-gray-900"><%= client.name %></span>
  </div>

  <div>
    <span class="font-medium text-gray-500">Email:</span>
    <span class="text-gray-900"><%= client.email %></span>
  </div>

  <div>
    <span class="font-medium text-gray-500">Phone:</span>
    <span class="text-gray-900"><%= client.phone_number %></span>
  </div>

  <div>
    <span class="font-medium text-gray-500">Memo:</span>
    <p class="text-gray-900 bg-gray-50 p-2 rounded"><%= client.memo %></p>
  </div>
</div>
