<div id="<%= dom_id client %>" class="item-card">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= client.phone_number %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= client.memo %>
  </p>

</div>
